---
import Hero from '../components/Hero.astro';
import TrackList from '../components/TrackList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<Hero/>
		<TrackList/>
	</div>
</Layout>

<style>
	div{
		font-family: 'Montserrat', sans-serif;
	}
	body{
		background-color: #000000;
	}

	
</style>
